@media (min-width: 768px) {
	.background {
		&__top {
            display: flex;
            justify-content: center;
			background-image: url('../images/bg-desktop-dark.jpg');
			&-text {

				width: 50%;
			}
		}
	}
	.todo {
		&__create {
			width: 50%;
		}
		&__list {
			width: 50%;
		}
		&__filter {
			width: 50%;
		}
	}
}
