@media (min-width: 768px) {
	.background {
		&__top {
			display: flex;
			justify-content: center;
			background-image: url('../images/bg-desktop-dark.jpg');
			&.light-background {
				background-image: url('../images/bg-desktop-light.jpg');
			}
			&-text {
				width: 50%;
			}
		}
	}
	.todo {
		&__create {
			width: 50%;
		}
		&__list {
			width: 50%;
		}
		&__filter {
			width: 50%;
		}
	}
	.popup {
		top: 40%;
		&__box {
			&-buttons {
				width: 10rem;
			}
		}
		&__input {
			width: 25rem;
			height: 2rem;
		}
	}
}
